li.nav-item a.nav-link{
  font-size: 20px;
  margin-right: 40px;
  margin-left: 40px;
  color: rgb(130, 130, 130);
}

a.nav-link:hover{
  background-color: whitesmoke;
  border-radius: 10px;
}

.nav-link-active{
  background-color: whitesmoke;
  font-weight: 500
}

svg#Capa_1{
  max-width: 400px;
}

div.header.text-center{
  max-height: 100px;
  margin-bottom: 25px;
}

i.bi.bi-instagram{
  font-size: 20px;
}

i.bi.bi-tiktok{
  font-size: 20px;
}

div.social.text-center{
  margin-bottom: 35px;
}

div#navbarSupportedContent.collapse.navbar-collapse.justify-content-center{
  margin-bottom: 20px;
}

footer{
  margin-bottom: 0px;
}